<?xml version="1.0" encoding="UTF-8"?>
<entry xmlns:thr="http://purl.org/syndication/thread/1.0" xmlns:dcterms="http://purl.org/dc/terms/" xmlns="http://www.w3.org/2005/Atom" xmlns:schema="http://schema.org/"><title><%= title %></title>
    <id><%= url %></id>
    <author>
        <name><%= user.name %></name>
        <uri>https://www.wattpad.com/user/<%= user.username %></uri>
    </author>
    <published><%= lastPublishedPart.createDate %></published>
    <dcterms:language>de</dcterms:language>
    <% tags.forEach(function(tag){ %>
        <category label="<%= tag %>" />
    <% }); %>
    <summary><%= description %></summary>
    <dcterms:source>https://www.wattpad.com</dcterms:source>
    <link type="image/jpeg" rel="http://opds-spec.org/image" href="<%= cover %>"/>
    <link type="image/jpeg" rel="http://opds-spec.org/image/thumbnail" href="<%= cover %>"/>
    <content type="html"><%= description %></content>
</entry>
