extends _layout

block page
    div.page.center.row
        img.book-cover(src=book.cover alt="cover")

        div.book-info
            h1= book.title
            h3
                b= lang.book.author
                span :&nbsp;
                spa= book.user.name
                img.avatar(src=book.user.avatar alt="avatar")

            h3
                b= lang.book.pubDate
                span :&nbsp;
                span= new Date(book.lastPublishedPart.createDate).getFullYear()

            h3
                b= lang.parts
                span :&nbsp;
                span= book.parts.length

            p= book.description && book.description.length > 550 ? book.description.substr(0, 550) + "..." : book.description

            p.download-limit
                span= lang.book.rateLimit
                span :&nbsp;
                strong= limits.remaining
                span &nbsp;/&nbsp;
                strong= limits.total

            button(class="download-button" data-book-id=book.id data-book-format="epub")= lang.book.download.epub
            button(class="download-button" data-book-id=book.id data-book-format="html")= lang.book.download.html

    div#loading-modal.modal
        div
            h1!= lang.book.loading.text
            div.lds-ring
                div
                div
                div
                div
                div

    div#captcha-modal.modal
        div
            h1= lang.book.captcha.title
            p= lang.book.captcha.description
            div(class="g-recaptcha" data-sitekey=captcha.sitekey data-callback="captchaCallback")
