<!DOCTYPE html>

<html lang="<%= langName %>">

    <%- include("partials/head", { lang }) %>

    <body>

        <%- include("partials/titlebar", { lang }) %>

        <div class="page center">

            <h1 class="error">

                <% if(error === "book_not_found"){ %>
                    <%= lang.errors.bookNotFound %>
                <% } %>

            </h1>

            <button onclick="window.location.href = '/'"><%= lang.titlebar.home %></button>

        </div>

    </body>

</html>

<script src="/index.js"></script>