<!DOCTYPE html>

<html lang="<%= langName %>">

    <%- include("partials/head", { lang }) %>

    <body>

        <%- include("partials/titlebar", { lang }) %>

        <div class="page center">

            <% for(let help of lang.help){ %>

                <h1><%- help.title %></h1>

                <p><%- help.text %></p>

            <% } %>

        </div>

    </body>

</html>

<script src="index.js"></script>