<div class="center">

    <h1><%- lang.home.text %></h1>

    <p><%- lang.home.urlDescription %></p>
    <code>https://www.wattpad.<b style="color: #ee4a4a">ml</b>/story/12345-a-story</code>

    <form id="searchform">
        <p id="error-result" class="error"></p>
        <input type="text" placeholder="<%= lang.home.placeholder %>" />
        <button>
            <%= lang.home.submit %>
        </button>
    </form>

</div>

<script>
    document.querySelector("#searchform").addEventListener("submit", (event) => {
        event.preventDefault();
    	let url = event.target[0].value;

    	let id = /\/?((story)\/)?(\d+)/i.exec(url);

        if(id && id[3]){

            if(id[2] === "story"){
                window.location.href = window.location.href + 'b-' + id[3];
            }else{
                window.location.href = window.location.href + id[3];
            }

        }else{
        	document.querySelector("#error-result").innerHTML = "<%- lang.errors.invalidSearch %>";
        	setTimeout(() => {
				document.querySelector("#error-result").innerHTML = "";
            }, 5000);
        }

    });
</script>