<!DOCTYPE html>

<html lang="<%= langName %>">

    <%- include("partials/head", { lang }) %>

    <body>

        <%- include("partials/titlebar", { lang }) %>

        <div class="page center">

            <h1><%- lang.home.text %></h1>

            <p><%- lang.home.urlDescription %></p>
            <code>https://www.wattpad.<b style="color: #ee4a4a">ml</b>/story/12345-a-story</code>

            <form id="searchform">
                <p id="error-result" class="error"></p>
                <input type="text" placeholder="<%= lang.home.placeholder %>" />
                <button>
                    <%= lang.home.submit %>
                </button>
            </form>

        </div>

    </body>

</html>

<script src="/index.js"></script>