<!DOCTYPE html>

<html lang="<%= langName %>">

    <head>
        <title>Wattpad downloader</title>
        <meta name="description" content="<%= lang.description %>" />
        <meta name="viewport" content="width=device-width, initial-scale=0.9">
        <link rel="stylesheet" href="style.css" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>

    <body>

        <div id="titlebar">
            <h1>Wattpad downloader</h1>
            <span class="spacer"></span>
            <div id="nav">
                <a href="/"><%= lang.titlebar.home %></a>
                <a href="/api"><%= lang.titlebar.api %></a>
                <a href="/about"><%= lang.titlebar.about %></a>
                <a href="https://wattpad.com" target="_blank">Wattpad</a>
            </div>
            <a href="#" onclick="toggleMobileNav(event)" id="toggle-mobile-nav">Menu</a>
        </div>

        <%
            if(book){
                %> <%- include('book', { book, lang }) -%> <%
            }else if(error){
                %> <%- include('error', { error, lang }) -%> <%
            }else{
                %> <%- include('home', { lang }) -%> <%
            }
        %>

    </body>

</html>

<script>
function toggleMobileNav(event){
	event.preventDefault();
	document.querySelector("#nav").classList.toggle("active")
}
</script>