<!DOCTYPE html>

<style>
	* {
		box-sizing: border-box;
	}
	body {
		background-color: rgb(245, 245, 245);
		color: rgb(30, 30, 30);
		font-family: "Arial", sans-serif;
		font-size: 18px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px;
	}
	#titlebar {
		background-color: white;
		border-bottom: 1px solid #eee;
		padding: 10px;
		width: 100%;
		display: flex;
		align-items: center;
	}
	.spacer {
		flex-grow: 1;
	}
	#titlebar > h1 {
		margin: 0 10px 0 10px;
		color: #ff500a;
		font-size: 32px;
		font-weight: 500;
	}
	#titlebar > a {
		color: rgb(5, 5, 5);
		margin: 0 10px;
		font-size: 21px;
		text-decoration: none;
	}
	#titlebar > a:hover {
		text-decoration: underline;
	}
	#parts {
		flex-direction: column;
	}
	#parts > a {
		flex-direction: column;
		color: rgb(30, 30, 30);
		text-decoration: none;
		background-color: white;
		font-size: 24px;
		padding: 15px;
	}
	#parts > a:hover {
		color: #ff874b;
	}
	#book-meta {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#book-meta > div {
		display: flex;
		flex-direction: column;
		padding: 30px;
	}
	#book-meta > img {
		width: 256px;
		height: 400px;
	}
	#book-meta h3 {
		display: flex;
		align-items: center;
		font-weight: 500;
	}
	.page {
		width: 50%;
		padding: 20px;
		display: none;
		flex-direction: column;
		line-height: 1.5;
	}
	.page > h1 {
		text-align: center;
	}
	.active {
		display: flex;
	}
	.hide {
		display: none;
	}
	.avatar {
		border-radius: 50%;
		max-height: 45px;
		margin-left: 5px;
	}
	.book-cover {
		box-shadow: 1px 1px 5px 1px rgba(70,70,70,0.2);
		border-radius: 6px;
		max-height: 400px;
		max-width: 256px;
	}
	button {
		border: 0;
		background-color: #ff8241;
		color: white;
		font-size: 21px;
		padding: 10px 15px;
		border-radius: 3px;
		display: flex;
		justify-content: center;
		cursor: pointer;
		outline: 0;
		margin-bottom: 20px;
	}
	button:hover {
		background-color: #ee7638;
	}
	@media only screen and (max-width: 920px) {
		.page {
			width: 100%;
		}
		#book-meta {
			flex-direction: column;
			align-items: center;
		}
		#book-meta > div {
			align-items: center;
		}
	}
	@media (prefers-color-scheme: dark) {
		body {
			background-color: rgb(20,20,20);
			color: rgb(240,240,240);
		}
		#titlebar {
			background-color: rgb(40,40,40);
			border-color: rgb(70,70,70);
		}
		#titlebar > h1,
		#titlebar > a {
			color: white;
		}
		#parts > a {
			color: rgb(240, 240, 240);
			background-color: rgb(40,40,40);
		}
	}
</style>

<html lang="<%= langName %>">

	<head>
		<meta charset="UTF-8">
		<title> <%= book.title.length > 15 ? book.title.substr(0, 15) + "..." : book.title %> </title>
		<meta name="viewport" content="width=device-width, initial-scale=0.9">
	</head>

	<body>

		<div id="titlebar">
			<h1> <%= book.title %> </h1>
			<span class="spacer"></span>
			<a href="#parts"> <%= lang.parts %> </a>
		</div>

		<div class="page" id="book-meta">

			<img class="book-cover" src="data:image/jpg;base64,<%- image %>"  alt="Cover"/>

			<div>
				<h1><%= book.title %></h1>

				<h3><b><%= lang.book.author %>:</b>&nbsp;<%= book.user.name %> <img class="avatar" src="data:image/jpg;base64,<%- avatar %>" /> </h3>

				<h3><b><%= lang.book.pubDate %>:</b>&nbsp;<%= new Date(book.lastPublishedPart.createDate).getFullYear() %></h3>

				<p><%= book.description %></p>

				<button onclick="window.location.hash = '#page-1'"><%= lang.startReading %></button>

			</div>

		</div>

		<div class="page" id="parts">

			<h1> <%= lang.parts %> </h1>

			<a href="#book-meta"><%= lang.overview %></a>

			<br/>

			<% for(let i = 0; i < parts.length; i++){ %>
				<a href="#page-<%= i %>"><%= parts[i].title %></a>
			<% } %>

		</div>

		<% for(let i = 0; i < parts.length; i++){ %>

			<div class="page" id="page-<%= i %>">

				<h1><%= parts[i].title %></h1>
				<div><%- parts[i].data %></div>

			</div>

		<% } %>

		<button id="next-button" onclick="next()" class="hide"><%= lang.next %></button>

	</body>

</html>

<script>
	let currentActive = "#book-meta";
	document.querySelector(currentActive).classList.toggle("active");

	window.addEventListener("hashchange", () => {
		let hash = window.location.hash;

		document.querySelector(currentActive).classList.toggle("active");
		document.querySelector(hash).classList.toggle("active");

		currentActive = hash;

		window.scrollTo(0, 58);

		if(hash === "#book-meta" || hash === "#parts"){
			document.querySelector("#next-button").classList.add("hide");
		}else{
			document.querySelector("#next-button").classList.remove("hide");
		}

	});
	function next(){

		if(currentActive.match(/\d+/)){

			let id = /(\d+)/.exec(currentActive);

			if(id){
				let newpage = "#page-" + (parseInt(id) + 1).toString();
				if(document.querySelector(newpage)){
					window.location.hash = newpage;
				}else{
					window.location.hash = "#book-meta";
				}
			}

		}
	}
</script>